.form{
  border: 2px solid rgb(12, 0, 0);
  text-align: center;
  color: rgb(243, 235, 235);
  background-color: rgb(64, 117, 28);
  width : 50px;
  height: 50px;
  border-radius: 100%;
  position :absolute;
}
.optn{
  
  display:flex;
  flex-direction: row;
}